body {
    padding: 0;
    margin: 0;
    font: 16px/1.4 sans-serif;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    font-size: 1em;
    width: 100%;
    border: 1px solid #ccc;
    padding: .4em 3em .4em 0.6em;
    background-image: url(/bundles/bremenhackinsight/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
}

#map {
    width: 100%;
    height: calc(100vh - 80px);
}

.logo {
    margin-right: 1em;
    margin-bottom: -6px;
}

.leaflet-marker-icon {
    display: none;
}

.leaflet-marker-shadow {
    display: none;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#map {
    width: 100%;
}

.bar {
    padding: 0.5em 1em;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

@media (min-width: 700px) {
    .bar {
        max-width: 1100px;
        margin: 0 auto;
        height: 60px;
        display: flex;
        align-items: flex-end;
    }
}

.control__item {
    padding: 0 0.5em;
    flex: 1 0 150px;
    background-image: url(/bundles/bremenhackinsight/images/arrow_right.svg);
    background-repeat: no-repeat;
    padding-right: 1.5em;
    background-position: calc(100% - 10px) calc(100% - 10px);
}

.control__item--nogrow {
    flex: 0 0 150px;
}

.control__item--blank {
    background: none;
}

.control__label {
    display: block;
    text-transform: uppercase;
    font-size: 0.7em;
}

#ninja {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1337;
    height: 200px;
    width: 200px;
}

.wrap { position:relative; }
.wrap input[type=checkbox] { position:absolute; left:-9999px }

.slider-v2 {
  position: relative;
  display: block;
  width: 5.5em;
  height: 3em;
  cursor: pointer;
  /*border-radius: 1.5em;*/
  transition: 350ms;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0)), #ddd;
  box-shadow: 0 0.07em 0.1em -0.1em rgba(0, 0, 0, 0.4) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7);
}

.slider-v2::after {
  position: absolute;
  content: '';
  width: 2em;
  height: 2em;
  top: 0.5em;
  left: 0.5em;
  /*border-radius: 50%;*/
  transition: 250ms ease-in-out;
  background: linear-gradient(#f5f5f5 10%, #eeeeee);
  box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset, 0 0.2em 0.2em -0.12em rgba(0, 0, 0, 0.5);
}

.slider-v2::before {
  position: absolute;
  content: '';
  width: 4em;
  height: 1.5em;
  top: 0.75em;
  left: 0.75em;
  /*border-radius: 0.75em;*/
  transition: 250ms ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #d0d0d0;
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(68, 204, 102, 0.7) inset;
}

input:checked + .slider-v2::before {
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 3em 0 0 0 rgba(68, 204, 102, 0.7) inset;
}

input:checked + .slider-v2::after {
  left: 3em;
}



#loading {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#loading svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}