<!DOCTYPE html>
<html>
<head>
    <title>Bremen Insights</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/bundles/bremenhackinsight/css/leaflet.css" />
	<link rel="stylesheet" href="/bundles/bremenhackinsight/css/leaflet-gist-theme.css" />
	<link rel="stylesheet" href="/bundles/bremenhackinsight/css/style.css" />

</head>
<body>
	<div id="map"></div>
    <div class="bar" id="bar">
        <a href="/"><img src="/bundles/bremenhackinsight/images/logo.svg" alt="bremen insights logo" class="logo"></a>

        <div class="control__item">
            <label class="control__label">Datensatz</label>
            <select id="datasetSelect">
                <option>Durschnittsalter 2030</option>
            </select>
        </div>
        <div class="control__item">
            <label class="control__label">Dimension</label>
            <select id="columnSelect">
                <option>Neugeborene</option>
            </select>
        </div>
        <div class="control__item">
            <label class="control__label">Filter</label>
            <select id="categorySelect">
                <option>männlich</option>
            </select>
        </div>
    </div>
    <div id="ninja">
        　　 ∠￣ヽ
        　～|/ﾟUﾟ|／
        　 ／ ｙ⊂)
        　(ノ〉 ⌒i
        　／(_ノ^Ｕ
    </div>
	<script src="/bundles/bremenhackinsight/js/jquery-2.1.4.min.js"></script>
	<script src="/bundles/bremenhackinsight/js/leaflet.js"></script>
	<script src="/bundles/bremenhackinsight/js/map.js"></script>
	<script src="/bundles/bremenhackinsight/js/main.js"></script>

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//piwik.nkls.cc/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//piwik.nkls.cc/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</body>
</html>
